/public/hot
/public/storage
/bootstrap/cache/config.php
/storage/*.key
/storage/logs/
/storage/framework/views/
/storage/framework/sessions/
/storage/framework/cache/
/.hg
.hgignore
/vendor
/node_modules
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log