@import 'variables';
@import '~bootstrap/scss/bootstrap';

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 16px;
    min-width: 364px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(249, 250, 251);
    color: rgb(88, 96, 105);
    font-size: 14px;
    height: 66px;
}

.button-reg:hover, .button-auth:hover{
    transition: .3s ease;
    color: #B1B8BE !important;
}

@media (max-width: 768px) {
    #navbar-nav-guest > li:last-child {
        margin-bottom: 8px !important;
    }
    .button-reg {
        //border: none !important;
        color: #fff !important;
    }
    .button-auth {
        color: #fff !important;
        margin-right: 0 !important;
    }
}

.navbar {
    min-height: 64px;
    background-color: rgb(36, 41, 46);
    color: rgb(255, 255, 255);
}

.header {
    background-color: rgb(36, 41, 46);
    color: rgb(255, 255, 255);
}

.button-auth {
    cursor: pointer;
    margin-right: 20px;
}

.button-reg {
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 14px;
    position: relative;
    width: 100%;
}

.navbar-logo {
    width: 36px;
    height: 36px;
    vertical-align: text-bottom;
}
.navbar-logo-avatar {
    width: 28px;
    height: 28px;
}

.dropdown-toggle:after {
    vertical-align: 0;
}

#navbarNavDropdown {
    transition: 0.3s ease;
}

.font-size-32 {
    font-size: 32px !important;
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.card-casual {
    width: 18rem;
    cursor: pointer;
}

.card-casual:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition-duration: 0.2s;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    z-index: 2;
}

.color-active-black:active { color: black !important;}

.min-w-280 {min-width: 280px;}
