@import 'variables';
@import '~bootstrap/scss/bootstrap';

.font-size-32 {
    font-size: 32px !important;
}

.display-6 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.card-casual {
    width: 18rem;
    cursor: pointer;
}

.card-casual img {
   user-select: none;
}

.card-casual:hover {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transition-duration: 0.2s;
    border: 1px rgba(0, 0, 0, 0.4) solid;
    z-index: 2;
}

.w-85 {
    width: 85% !important;
}

.min-w-280 {
    min-width: 280px;
}

.font-w-600 {
    font-weight: 600 !important;
}

.font-w-500 {
    font-weight: 500 !important;
}

.cursor-pointer {
    cursor: pointer;
}
